<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/kalkulacja</property>
        <property name="format_sql">false</property>
        <property name="show_sql">true</property>
        <!-- automatyczne tworzenie modelu opcje:none, validate, create, update,
            create-drop -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- mapowanie encji na tabela i tabel na encje -->
        <!-- <mapping class="pl.pwn.reaktor.model.Encja" /> -->

        <mapping class="pl.pawel.gaudziak.kalkulacja.model.User"/>
        <mapping class="pl.pawel.gaudziak.kalkulacja.model.Zlecenia"/>
       <!-- <mapping class="pl.pawel.gaudziak.kalkulacja.model.Klienci"/> -->
        <mapping class="pl.pawel.gaudziak.kalkulacja.model.FormatPapieru"/>
        <mapping class="pl.pawel.gaudziak.kalkulacja.model.FormatUlotki"/>
        <mapping class="pl.pawel.gaudziak.kalkulacja.model.RodzajPracy"/>
        <mapping class="pl.pawel.gaudziak.kalkulacja.model.Papier"/>
        <mapping class="pl.pawel.gaudziak.kalkulacja.model.FormatPapUlotka"/>
        <mapping class="pl.pawel.gaudziak.kalkulacja.model.ModelHelper"/>


    </session-factory>
</hibernate-configuration>